
.tags-layout {
  margin-top:40px;
  grid-template-columns: 240px 1fr;
  display: grid;

  @media (max-width:999px){
    display: flex;
    flex-flow:column;
    .tags-layout-tags {
      margin-top:6rem;
      order:3;
    }
  }

  .tags-layout-tags {
    > :nth-child(1) {
      margin-top:0;
    }

    h2 {
      font-size:11pt;
    }

    ul.tags {
      list-style-type:none;
      padding:0;

      li {
        &.active {
          a {
            color:#000;
          }
        }

        a {
          border:0;
          font-size:13pt;
          color:#999;
        }
      }
    }
  }

  .tags-layout-content {
    @media (min-width:1000px){
      padding:50px;
      box-shadow: -20px -20px 25px rgba(0,0,0,0.04);
      border:solid 1px #eee;
    }
  }
}
