.activeTag {
font-weight: 600;
}

.category-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  /* justify-content: space-around; */
  margin: auto;
  font-size: 15px;
  border:solid 1px #eee;
  border-radius: 8px;
  margin-bottom: 40px;
  color: #718096;
}

@media screen and (max-width:820px) {
  .category-nav {
    display: block;
    width: 100%;
    max-width: 310px;
    margin: auto;
  }

}

.select-category{
  user-select: none;
  list-style: none;
  margin-left: 15px;
  cursor: pointer;
  transition: all .1s;
  padding: 2px 0;
}
.select-category:hover {
  color:rgba(34, 103, 187, 0.712);
}

.categories {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  margin: auto;
  /* height: 3200px;  */

  div.category {
    padding:30px;
    border:solid 1px #eee;
    text-align: center;
    transition:background-color 150ms ease-in;
    border-radius:8px;
    /* margin: 20px 10px 0px 10px; */
    max-width: 310px;
    width: 100%;
    margin:15px 0;
    /* width: 200px; */
  }
  /* a.category--width2 { width: 300px; } */
  div.category > h2 {
    color:#333;
    text-transform: none;
    font-weight: normal;
    font-size:17px;
    letter-spacing: normal;
    margin-top:0;
  }

  div.category a {
   border: 0;
  }

  li.posts {
    text-align:left;
    font-size:14px;
    padding: 2px 0;
    color:rgba(34, 103, 187, 0.712);
  }

  p {
    font-size:0.9em;
    color: #718096;
  }

  .category:hover {
    /* background-color:#fafafa; */
  }
}

.contact-summary {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 40px;

  a {
    color: #718096;
    font-weight: 600;
  }
}
