
.it-page {
  .instructions{
    text-align: center;
    margin:5vh auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    > .instruction {
      width: 50%;

      @media (max-width: 768px) {
        float:default;
        width: 100%;

        &:nth-child(2) {
          margin-top:20px;
        }
      }

      > h2 {
        margin-top:0;
      }
    }
    .instructions-header {
      text-align: center;
      font-style: italic;
      color:#777;
      margin:0 0 20px;
    }
  }
  .instructions code {
    background-color:#f9f9f9;
    color:#06f;
    border-radius: 8px;
    padding:10px 20px;
  }

  .extra-suggestions {
    font-size:0.8em;
  }

  .question {
    font-weight: bold;
    color:#000;
    font-size:18pt;
    margin-bottom:10px;
  }

  .answer {
    font-weight: normal;
    color:#777;
    font-size:12pt;
    margin-bottom:45px;

    ul li {
      font-size:12pt;
    }
  }
}
