
.customer-logos-row {
  height:150px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width:100%;

  .customer {
    flex: 1 1 auto;
    padding:25px;
    display:flex;
    animation: customer-logo-fade-in 1000ms;

    @media (max-width:  500px) { &:nth-child(4) { display: none; } }
    @media (max-width:  700px) { &:nth-child(5) { display: none; } }
    @media (max-width:  900px) { &:nth-child(6) { display: none; } }
    @media (max-width: 1100px) { &:nth-child(7) { display: none; } }
    @media (max-width: 1300px) { &:nth-child(8) { display: none; } }
    @media (max-width: 1500px) { &:nth-child(9) { display: none; } }

    .logo-box {
      flex: 1;
      position: relative;

      img {
        position: absolute;
        max-width:100%;
        max-height:100%;
        object-fit: contain;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@keyframes customer-logo-fade-in {
  from { opacity: 0; transform: translateY(20%); }
  to   { opacity: 1; }
}
